﻿@model Product

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Book.Name</h2>

<table>
    <tr>
        <th>ISBM</th>
        <td>@Model.Book.Isbm</td>
    </tr>
    <tr>
        <th>書籍名</th>
        <td>@Model.Book.Name</td>
    </tr>
    <tr>
        <th>在庫</th>
        <td>@Model.Stock.AsText()</td>
    </tr>
</table>