﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
    <tr>
        <th>ISBM</th>
        <th>書籍名</th>
        <th>在庫</th>
    </tr>
    </thead>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Book.Isbm</td>
            <td>
                <a asp-action="ById" asp-route-id="@product.Book.Id">
                    @product.Book.Name
                </a>
            </td>
            <td>@product.Stock.AsText()</td>
        </tr>
    }
</table>